:root {
  --blue-munsell: #4793a9ff;
  --silver: #bebebeff;
  --pale-dogwood: #c7b3aaff;
  --dim-gray: #747474ff;
  --rosy-brown: #b8888eff;
  --pale-dogwood-2: #c7b3aaff;
  --platinum: #d3d6daff;
  --soft-white: #f0f2f5;
  --soft-black: #303033;
  --primary: rgb(46, 105, 243);
  --danger: rgb(216, 48, 48);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.1s ease;
}
ul,
li {
  list-style: none;
}
header {
  background-color: var(--dim-gray);
  padding: 10px;
}
header a {
  color: var(--soft-white);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 7px 15px;
}
header a.active {
  background: var(--blue-munsell);
  color: var(--soft-white);
}
header li.top-level > a:not(:hover) {
  /* color: #202020; */
  border-bottom: 0px solid var(--soft-white);
}
header li.top-level > a:hover {
  font-style: italic;
}
header .container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  position: relative;
}
.logo {
  width: 80px;
  border: 2px dashed var(--soft-white);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #aaa;
}
.menu {
  padding-top: 10px;
}
ul.menu-list li {
  display: inline-block;
  padding: 2px 10px;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px;
  min-width: 110px;
  top: 55px;
}
.dropdown.show {
  display: block;
}
ul.dropdown li {
  display: block;
  padding: 5px 0;
}
ul.dropdown li:hover {
  background-color: rgba(0, 0, 0, 1);
}
ul.dropdown li a {
  font-size: 13px;
  font-weight: normal;
}
main .container {
  width: 100%;
  max-width: 1640px;
  height: 100vh;
  background-color: var(--soft-white);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
}

#workArea,
#toolBox {
  padding: 10px;
}
#workArea {
  border: 2px dashed gray;
  width: 75%;
}
/* #workArea *:not(.editing) {
  opacity: 0.4;
} */
/* #workArea .editing {
  opacity: 1 !important;
  border: 1px dashed gray;
} */
#toolBox {
  border: 2px dashed gray;
  border-left: none;
  width: 25%;
  background-color: var(--silver);
}
#toolbox-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
#toolbox-list li {
  width: 47%;
  background-color: var(--silver);
  color: var(--soft-black);
  font-weight: bold;
  margin-bottom: 15px;
  min-height: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  cursor: grab;
  border-style: outset;
  border: 1px solid var(--silver);
  padding: 10px;
}
.toolBoxTitle {
  text-align: center;
}
.toolBoxGroup {
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--dim-gray);
  border-radius: 10px;
  background-color: var(--platinum);
}
.toolBoxItem:active {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(4px);
  opacity: 0.5;
}
.toolBoxGroupTitle {
  text-align: center;
  font-weight: bold;
}
input[type="text"] {
  /* min-width: 400px; */
  height: 40px;
  padding: 5px;
  font-size: 14px;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.button {
  display: inline-block;
  color: var(--soft-white);
  border: none;
  padding: 12px;
}
.bg-primary {
  background-color: var(--primary);
}
.submitChange {
  background-color: var(--primary);
}
.deleteEl {
  background-color: var(--danger);
}
.pageContainer {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
  left: 0;
  margin: auto;
  width: 80%;
  background-color: var(--platinum);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  transition: all 250ms ease-in-out;
}
.pageContainer.hidden {
  top: -40px;
}

.pageTitle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
p {
  margin-bottom: 12px;
}
.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.form-group > label,
.halfColumn > label,
.thirdColumn > label {
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
  background-color: var(--dim-gray);
  display: inline-block;
  color: var(--soft-white);
  border-radius: 5px 0 0 5px;
}
.thirdColumn:not(:first-child) > label {
  min-width: 70px;
  max-width: 70px;
}
.halfColumn > input,
.halfColumn > textarea,
.halfColumn > select,
.thirdColumn > input,
.thirdColumn > textarea,
.thirdColumn > select,
.form-group > input,
.form-group > textarea,
.form-group > select {
  width: 100%;
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 10px;
  font-size: 14px;
  background-color: var(--soft-white);
}
textarea#customCSS {
  resize: none;
  font-family: monospace;
}
#savePageSettings {
  background-color: var(--primary);
  color: var(--soft-white);
  border-radius: 5px;
  padding: 10px;
  border: none;
}
.tx-center {
  text-align: center;
}
.settingGroup {
  margin-bottom: 20px;
}
.halfColumn {
  width: 50%;
  display: flex;
}
.thirdColumn {
  width: 33%;
  display: flex;
}
.thirdColumn:not(:first-child) {
  margin-left: 10px;
}
.posRelative {
  position: relative;
}
span.editText {
  position: absolute;
  left: 0;
  top: 0;
  width: 450px;
  border: 1px solid var(--dim-gray);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--soft-white);
  background-color: var(--pale-dogwood);
}
.editText input[type="text"] {
  min-width: 300px;
  border-radius: 5px 0 0 5px;
  border: none;
}
